h3{
    color: red;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
    text-decoration-color: blue;

}
table{
    border-color: blue;
    border-collapse: collapse;
    color: brown;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
td{
    font-weight: bold;
    text-align: center;
}
th{
    color: crimson;
    background-color: whitesmoke;
    padding: 5px;

}
tr:nth-child(even)
{background-color: lightblue;


}
tr:nth-child(odd){
    background-color: yellowgreen;
}